body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: grey;
    margin:0;
    position: relative;
    top:0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    color: white;
    width: 50%;
    margin-left:50px;
}

nav {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 50px;
    width: 50%;
}

li{
    margin: 0 20px;
}

footer {
    background-color: rgb(56, 48, 82);
    height: 100px;
}

.navList{
    padding-top: 10px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blackBox{
    font-family: "Arial Narrow", Arial, sans-serif;
    color: yellow;
    font-size: 75px;
    font-weight: bold;
    margin: 0;
    height: 500px;
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.title{
    margin:0;
}

.middleBoxes{
    height:400px;
    padding: 50px 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.threeBoxes{
    height: 300px;
    width: 300px;
    background-color: aquamarine

}

.twoBoxes{
    height: 300px;
    width: 520px;
    background-color: rgb(218, 171, 111);
}

.lowerBox{
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.filler{
    height: 150px;
    width: 400px;
    font-size: 12px;
}

.elephant{
    height:200px;
    width:400px;
}